
    <!-- SE ABRE MODAL PARA AGREGAR PACIENTE-->
    <!-- Modal-->
    <div class="modal fade" id="AgregarPaciente" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">

                <form action="{{url_for('guardar_paciente')}}" method="POST" id="AgregarPaciente_form">
                    <!-- Cabecera Modal -->
                    <div class="modal-header">
                        <h5 class="modal-title">Agregar paciente</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <!-- Body Modal -->
                    <div class="modal-body">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="home-tab" data-bs-toggle="tab"
                                    data-bs-target="#datos_personales" type="button" role="tab"
                                    aria-controls="datos_personales" aria-selected="true">Datos personales</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#tutor"
                                    type="button" role="tab" aria-controls="tutor" aria-selected="false">Datos
                                    tutor</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="messages-tab" data-bs-toggle="tab"
                                    data-bs-target="#financiador" type="button" role="tab" aria-controls="financiador"
                                    aria-selected="false">Financiador</button>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane active" id="datos_personales" role="tabpanel"
                                aria-labelledby="datos_personales-tab">

                                <!-- Datos paciente -->
                                <div class="row g-3">
                                    <div class="col-4">
                                        <label for="nombrePaciente" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" name="nombrePaciente">
                                        <div class="invalid-feedback">Campo requerido</div>
                                    </div>
                                    <div class="col-4">
                                        <label for="apellidoPaciente" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" name="apellidoPaciente">
                                        <div class="invalid-feedback">Campo requerido</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="genero" class="form-label">Genero</label>
                                        <input type="text" class="form-control" name="genero">
                                        <div class="invalid-feedback">Campo requerido</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="tipoDocumento" class="form-label">Tipo de documento</label>
                                        <select name="tipoDocumento" class="form-select">
                                            {% for tipoDoc in data.tipoDocumento %}
                                            <option value={{tipoDoc[0]}}>{{tipoDoc[1]}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">Campo requerido</div>
                                    </div>
                                    <div class="col-4">
                                        <label for="nroDocumentoPaciente" class="form-label">Nro. documento</label>
                                        <input type="text" class="form-control" name="nroDocumento">
                                        <div class="invalid-feedback">Campo requerido</div> 
                                    </div>
                                    <div class="col-4">
                                        <label for="fechaNacimiento" class="form-label">Fecha de nacimiento</label>
                                        <input type="date" class="form-control" name="fechaNacimiento">
                                        <div class="invalid-feedback">Campo requerido</div>
                                    </div>
                                    <!-- <div class="col-1">
                                                        <label for="inputEdad" class="form-label">Edad</label>
                                                        <input type="text" class="form-control" aria-label="Edad">
                                                    </div> -->
                                    <div class="col-md-4">
                                        <label for="pais" class="form-label">País</label>
                                        <select name="pais" class="form-select">
                                            {% for paises in data.pais %}
                                            <option value={{paises[0]}}>{{paises[1]}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">Campo requerido</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="provincia" class="form-label">Provincia</label>
                                        <select name="provincia" class="form-select">
                                            {% for provincias in data.provincia %}
                                            <option value={{provincias[0]}}>{{provincias[1]}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">Campo requerido</div>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="localidad" class="form-label">Localidad</label>
                                        <select name="localidad" class="form-select">
                                            {% for localidades in data.localidad %}
                                            <option value={{localidades[0]}}>{{localidades[1]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-4">
                                        <label for="calle" class="form-label">Calle</label>
                                        <input type="text" class="form-control" name="calle">
                                    </div>
                                    <div class="col-sm-2">
                                        <label for="altura" class="form-label">Altura</label>
                                        <input type="text" class="form-control" name="altura">
                                    </div>
                                    <div class="col-sm-1">
                                        <label for="piso" class="form-label">Piso</label>
                                        <input type="text" class="form-control" name="piso">
                                    </div>
                                    <div class="col-sm-1">
                                        <label for="dpto" class="form-label">Dpto</label>
                                        <input type="text" class="form-control" name="dpto">
                                    </div>
                                    <div class="col-md-4">
                                        <label for="barrio" class="form-label">Barrio</label>
                                        <select name="barrio" class="form-select">
                                            {% for barrios in data.barrio %}
                                            <option value={{barrios[0]}}>{{barrios[1]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label for="HCD" class="form-label">Número de HCD</label>
                                        <input class="form-control" type="text" name="hcdPantallaPaciente" disabled>
                                    </div>
                                </div>
                            </div>
                            <!-- TAB tutor -->
                            <div class="tab-pane" id="tutor" role="tabpanel" aria-labelledby="tutor-tab">
                                <!-- Datos tutor -->
                                <div class="row g-3">
                                    <div class="col-4">
                                        <label for="nombreTutor" class="form-label">Nombre</label>
                                        <input type="text" class="form-control" name="nombreTutor">
                                    </div>
                                    <div class="col-4">
                                        <label for="apellidoTutor" class="form-label">Apellido</label>
                                        <input type="text" class="form-control" name="apellidoTutor">
                                    </div>
                                    <div class="col-4">
                                        <label for="ocupacion" class="form-label">Ocupación</label>
                                        <input type="text" class="form-control" name="ocupacion">
                                    </div>
                                    <div class="col-4">
                                        <label for="nroCelular" class="form-label">Teléfono celular</label>
                                        <input type="text" class="form-control" name="nroCelular">
                                    </div>
                                    <div class="col-4">
                                        <label for="nroFijo" class="form-label">Teléfono fijo</label>
                                        <input type="text" class="form-control" name="nroFijo">
                                    </div>
                                </div>
                            </div>
                            <!-- TAB financiador -->
                            <div class="tab-pane" id="financiador" role="tabpanel" aria-labelledby="financiador-tab">
                                <!-- TAB financiador -->
                                <div class="row g-3">
                                    <div class="col-md-4">
                                        <label for="financiador" class="form-label">Financiador</label>
                                        <select name="financiador" class="form-select">
                                            {% for financiadores in data.financiador %}
                                            <option value={{financiadores[0]}}>{{financiadores[1]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-4">
                                        <label for="nroAfiliado" class="form-label">Nro. Afiliado</label>
                                        <input type="text" class="form-control" name="nroAfiliado">
                                    </div>
                                </div>
                                <!-- fin de los datos-->
                            </div>
                        </div>
                    </div>

                    <!-- footer modal-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
              

