                <!-- Historial de evoluciones -->
                <div class="col-md-5">
                    <div role="tabpanel">
                      <!-- List CARD -->
                      <div class="card mt-3">
                        <div class="card-body">
                          <h5 class="card-title">Kinesiología</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Fabiana Juarez - 26/04/2020</h6>
                          <a href="#" class="card-link">Ver</a>
                        </div>
                      </div>
  
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Fonoaudiología</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Yo - 21/03/2020</h6>
                          <a href="#" class="card-link">Ver</a>
                        </div>
                      </div>
  
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Fonoaudiología</h5>
                          <h6 class="card-subtitle mb-2 text-muted">Yo - 15/03/2020</h6>
                          <a href="#" class="card-link">Ver</a>
                        </div>
                      </div>
                    </div>
                  </div>