{% extends 'base/base.html' %}

<!-- ================================================ -->
<!-- PANTALLA TURNOS -->
<!-- ================================================ -->
{% block mi_agenda %}

<main class="col-md-9 ms-sm-auto col-lg-10">
  <div class="chartjs-size-monitor">
    <div class="chartjs-size-monitor-expand">
      <div class></div>
    </div>
    <div class="chartjs-size-monitor-shrink">
      <div class=""></div>
    </div>
  </div>

  <!-- Breadcrumb -->
  <nav
    style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
    aria-label="breadcrumb">
    <ol class="breadcrumb bg-light" style="padding: 15px; border: 0">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{ data.titulo }}</li>
    </ol>
  </nav>

  <!-- Titulo de la pantalla -->
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center border-bottom pb-0">
    <h1 class="h2">{{ data.titulo }}</h1>
  </div>


  <!-- ================================================ -->
  <!-- TURNERO -->
  <!-- ================================================ -->

  <table class="table table-hover">
    <thead class="table-info">
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Hora desde</th>
        <th scope="col">Hora hasta</th>
        <th scope="col">Estado</th>
        <th scope="col">Nombre y Apellido</th>
        <th scope="col">Nro. documento</th>
        <th class="text-center" scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      {% for turnoprof in data.turnoprof %}
      <tr>
        <td>{{turnoprof[2]}}</td>
        <td>{{turnoprof[3]}}</td>
        <td>{{turnoprof[4]}}</td>
        <td>{{turnoprof[1]}}</td>
        <td>{{turnoprof[6]}} {{turnoprof[7]}}</td>
        <td>{{turnoprof[8]}}</td>
        <td style="text-align: right;"><button type="button" class="btn btn-primary openBtn" data-bs-toggle="modal" name="button_iniciar_atencion" value="{{turnoprof[0]}}">
            Iniciar atención
          </button>
          <button type="button" class="btn btn-warning openBtn" data-bs-toggle="modal" id="button_finalizar_atencion"
            data-bs-target="#modal_asignar_turno">
            Finalizar atención
          </button>
          <a class="btn btn-success" href="/ver_HCD/{{turnoprof[5]}}" role="button" id={{turnoprof[5]}}>
            Ver HCD
          </a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <!-- ================================================ -->
  <!-- Config Pantalla -->
  <!-- ================================================ -->

  <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="100%" height="100%"
    style="display: block; height: 514px; width: 1218px;">
  </canvas>

</main>

{% endblock %}