{% extends 'base/base.html' %}

<!-- ================================================ -->
<!-- PANTALLA TURNOS -->
<!-- ================================================ -->
{% block asignar_turno %}

<main class="col-md-9 ms-sm-auto col-lg-10">
    <div class="chartjs-size-monitor">
        <div class="chartjs-size-monitor-expand">
            <div class></div>
        </div>
        <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
        </div>
    </div>

    <!-- Breadcrumb -->
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
        aria-label="breadcrumb">
        <ol class="breadcrumb bg-light" style="padding: 15px; border: 0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/turno/">Turnos</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ data.titulo }} / {{ data.subtitulo }}</li>
        </ol>
    </nav>

    <!-- ================================================ -->
    <!-- PANTALLA ASIGNAR NUEVO TURNO -->
    <!-- ================================================ -->

    <div class="card border-success mb-3">
        <div class="card-header bg-transparent border-success">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-0">
                <h4 class="h4">{{ data.titulo }} / {{ data.subtitulo }}</h4>
            </div>
        </div>

        <div class="card-body text-dark">
            <h5 class="card-title">Paciente seleccionado</h5>

            <div class="container">
                <table class="table text-secondary">
                    <thead>
                        <tr>
                            <th scope="col">Nombre y Apellido</th>
                            <th scope="col">Nro. de documento</th>
                            <th scope="col">Financiador</th>
                            <th scope="col">Nro. afiliado</th>
                            <th scope="col">HCD</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ data.paciente[1] }} {{data.paciente[2] }}</td>
                            <td>{{ data.paciente[6] }}</td>
                            <td>{{ data.paciente[27]}}</td>
                            <td>{{ data.paciente[28]}} </td>
                            <td>{{ data.paciente[20]}}</td>
                            <td><button type="button" class="btn btn-dark" data-bs-toggle="modal"
                                    name="botonVerTurnos" data-bs-target="#ModalVerTurnos" id={{data.paciente[0]}}>
                                    Ver Turnos
                                </button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-body border-top">
            <h5 class="card-title">Seleccionar turno</h5>
            <div class="container">
                <form action="/grabar_turno" method="POST" class="row g-3">
                    <input type="hidden" value={{data.paciente[0]}} name="inputPacienteId">
                    <div class="col-md-4">
                        <label for="tipoTurno" class="form-label">Tipo de turno</label>
                        <select id="idTipoTurnoDropdown" name="tipoTurno" class="form-select">
                            <option selected disabled>Seleccionar...</option>
                            {% for tipoTurno in data.tipoTurno %}
                            <option value={{tipoTurno[0]}}>{{tipoTurno[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="Especialidad" class="form-label">Especialidad</label>
                        <select id="idEspecialidadDropdown" name="nameEspecialidadDropdown" class="form-select">
                            <option selected disabled>Seleccionar...</option>
                            {% for especialidad in data.especialidad %}
                            <option value={{especialidad[0]}}>{{especialidad[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label for="Profesional" class="form-label">Profesional</label>
                        <select id="idProfesionalDropdown" name="nameProfesionalDropdown" class="form-select">
                            <option selected disabled>Seleccionar...</option>
                        </select>
                    </div>
                    <div class="col-4">
                        <label for="fechaTurno" class="form-label">Fecha</label>
                        <input type="date" class="form-control" id="idFechaTurno" name="fechaTurno" min="2021-01-01" max="2022-12-31">
                    </div>
                    <div class="col-4">
                        <label for="horaTurno" class="form-label">Hora inicio</label>
                        <input type="time" class="form-control" id="idhoraInicio" name="nameHoraInicio" min="08:00" max="19:30">
                    </div>
                    <div class="col-4">
                        <label for="horaFin" class="form-label">Hora fin</label>
                        <input type="time" class="form-control" id="idhoraFin" name="nameHoraFin">
                    </div>
            </div>
        </div>

        <div class="card-footer bg-transparent border-success">
            <div class="row">
                <div class="col-6 justify-content-md-start">
                    <a class="btn btn-primary" href="/seleccionar_paciente" role="button">Atrás</a>
                </div>
                <div class="col-6 d-grid gap-3 d-md-flex justify-content-md-end">
                    <button type="submit" id="guardarButton" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </div>
    </form>
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="ModalVerTurnos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalVerTurnos">Ver turnos</h5>
                </div>
                <div>
                    <div class="modal-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Turnos computados</th>
                                    <th scope="col">Especialidad</th>
                                </tr>
                            </thead>
                            <tbody id="tablaTurnosAdmision">
                                {% for turnosadm in data.turnosadm %}
                                <tr>
                                    <td>{{turnosadm[1]}}</td>
                                    <td>{{turnosadm[2]}}</td>
                                    <td>{{turnosadm[4]}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- ================================================ -->
    <!-- Config Pantalla -->
    <!-- ================================================ -->

    <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="100%" height="100%"
        style="display: block; height: 514px; width: 1218px;">
    </canvas>

</main>

<script>
    //carga el dropdown de profesional por especialidad
    $("#idEspecialidadDropdown").change(function(){
        let idEspecialidad = $(this).val();
        $.ajax({
            url: `/profesionales_dropdown/${idEspecialidad}`,
            method: "GET",
            success: function (response) {
                $("#idProfesionalDropdown option").remove();
                $("#idProfesionalDropdown").append(response.htmlresponse);
            }
        });
    });

    //Inteligencia en minutos
    $("#idhoraInicio").on("input", function(){
        let tiempoCompleto = $(this).val().split(":");
        let hora = tiempoCompleto[0]
        let minutos = tiempoCompleto[1]
        if(hora.length > 1 && minutos.length > 1){
            let date = new Date()
            date.setHours(hora)
            date.setMinutes(minutos)
            date.setMinutes(date.getMinutes() + 30)
            let horaFinal = date.getHours() < 10 ? `0${date.getHours()}` : date.getHours();
            let minutoFinal = date.getMinutes() < 10 ? `0${date.getMinutes()}` : date.getMinutes();
            $("#idhoraFin").val(`${horaFinal}:${minutoFinal}`)
        }else{
            $("#idhoraFin").val('')
        }
    });

</script>


{% endblock %}